{# index.twig #}
{% extends 'layouts/default.twig' %}
{% block content %}
<div class="page-section">
	<div class="section-content">
		<h1>Lorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sit.</h1>
	</div>
</div>
<div class="page-section">
	<div class="section-content">
		<h1>Lorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sit.</h1>
	</div>
</div>
<div class="page-section">
	<div class="section-content">
		<h1>Lorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sit.</h1>
	</div>
</div>
<div class="page-section">
	<div class="section-content">
		<h1>Lorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sitLorem ipsum dolor sit.</h1>
	</div>
</div>
{% endblock %}