{# index.twig #}
{% extends 'layouts/default.twig' %}
{% block content %}
<div class="page-section">
	<div class="section-content">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, pariatur? Doloribus porro incidunt, dolorem quidem, officia perferendis voluptate recusandae aperiam, molestias ut eos, tenetur debitis neque quod ea et odio!</p>
	</div>
</div>
{% endblock %}