{# sideNav.twig #}
<ul id="slide-out" class="side-nav fixed mt-slideNav">
  <li><a href="#!">First Sidebar Link 2222</a></li>
  <li><a href="#!">Second Sidebar Link</a></li>
  {% block aside_dropdown %}{% endblock %}
</ul>
