html {
	font-size: 16px;
}

.base-link{
	font-size: 1.1rem;
	text-decoration: underline;
	cursor: pointer;
}

body {
	background: #000;
	font-family: 'Karla';

	.fullscreen-container{
		#rslide-main-screen{
			.layer-logo{
				img{
					width: 100% !important;
					height: auto !important;
				}
			}
		}

		.layer-overlay{
			position: relative;
			background: #111f2e;
		}

		.layer-grid{
			.v-lines{
				display: table;
				width: 1200px;
				max-height: 100%;
				margin: 0 auto !important;
				overflow: hidden;

				.v-wrap{
					display: table-row;

					.v-column{
						display: table-cell;
						height: 3000px;
						width: 20%;
						border-right: 1px solid #fff;

						&:first-child{
							border-left: 1px solid #fff;
						}
					}
				}
			}
		}

		.layer-at-grid{
			width: 1200px;
			margin: 0 auto !important;
		}

		.layer-description{
			color: #fff;
			font-family: 'Cinzel';
			font-size: 20px;
			text-align: center !important;
			line-height: 40px;
			letter-spacing: 1px;
		}

		.layer-who-we-are{
			.defaultimg{
			}
		}
	}
}

.scroll-line{
	display: block;
	width: 1.2px !important;
	height: 175px;
	background: #fff;
	margin: 22px auto;
}

.r-slide-header-back{
	color: #e5e6e7;
	font-family: 'Cinzel';
	font-size: 70px;
	line-height: 120%;
	opacity: 0.2;
	letter-spacing: 3px;
}

.r-slide-header-front{
	color: #fff;
	font-family: 'Karla';
	font-size: 34px;
	line-height: 140%;
	font-weight: bold;
}

.r-slide-plain-text-light{
	color: #fff;
	font-family: 'Karla';
	font-size: 24px;
	line-height: 140%;
	font-weight: normal;
}

.tp-video-play-button{
	display: none !important;
}

.tp-bullet{
	position: relative;
	//top: 12px;
	border-color: #efefef !important;
}
