@import '../_global.scss';

html {
	font-size: 16px;
}

body {
	
}

// Враппер страницы

.wrapper {
	overflow-x: hidden;
	border: $page-wrapper-border;
	background-color: $page-wrapper-background;
	display: flex;
	flex-direction: column;
  min-height: 100vh;

  background-image: -moz-linear-gradient(red 1px, transparent 1px);
  background-image: -ms-linear-gradient(red 1px, transparent 1px);
  background-image: -o-linear-gradient(red 1px, transparent 1px);
  background-image: linear-gradient(red 1px, transparent 1px);
  background-size: 100% 1rem;
}

// Контент страницы

.page-content {
	flex: 1 1 auto;
	position: relative;
	min-width: $page-content-width-min;
	width: $page-content-width;
	margin: 0 auto;
	border: $page-content-border;
	//background: $page-content-background;
}

// Секция контента

.page-section {
	margin-bottom: $margin-indent-normal;

	.section-content {
		
	}

	&.section-wide {
		.section-content {
			width: 100vw;
			margin-left: calc(-50vw + 50%);
		}
	}
}

// Контейнер

.container {
	position: relative;
	width: $container-width;
	max-width: $container-max-width;

	@media #{$medium-and-up} {
	  .container {
	    width: 100%;
	  }
	}
	@media #{$large-and-up} {
	  .container {
	    width: 100%;
	  }
	}

	@media #{$small-and-down} {
	  .container {
	    width: 100%;
	  }
	}

	@media #{$medium-and-down} {
	  .container {
	    width: 100%;
	  }
	}

	@media #{$medium-only} {
	  .container {
	    width: 100%;
	  }
	}
}

// Clearfix

.clearfix {
	@include clearfix;
}

// Позиционирование

.page-header,
.page-footer {
	flex: none;
}