{% set pageTitle = 'Sculptos — The Main Page' %}
{% set template = 'index' %}
{%
set headerStyles = [
"/vendor/revolution-slider/css/settings.css",
"/vendor/revolution-slider/css/layers.css",
"/vendor/revolution-slider/css/navigation.css"
]
%}
{%
set headerScripts = [
    "/vendor/jquery/jquery.min.js",
    "/vendor/revolution-slider/js/jquery.themepunch.tools.min.js",
    "/vendor/revolution-slider/js/jquery.themepunch.revolution.min.js",

    "/vendor/revolution-slider/js/extensions/revolution.extension.parallax.min.js",
    "/vendor/revolution-slider/js/extensions/revolution.extension.video.min.js",

    "/scripts/main.js"
]
%}

{% extends 'layouts/default.twig' %}
{% block content %}

    <ul id="main-menu">
        <li class="active"><a>Intro</a>  · </li>
        <li><a>Who we are</a> · </li>
        <li><a>What we do</a> · </li>
        <li><a>Our works</a> · </li>
        <li><a>Contact us</a></li>
    </ul>

    <div class="rev_slider_wrapper fullscreen-container">

        <!-- the ID here will be used in the JavaScript below to initialize the slider -->
        <div id="rev_slider_1" class="rev_slider fullscreenbanner" style="display:none">

            <!-- BEGIN MAIN SLIDE LIST -->
            <ul>

                <!-- BEGIN FIRST SCREEN SLIDER  -->
                <li id="rslide-main-screen" data-transition="crossfade" data-blendmode=”color-burn“>

                    <!-- BEGIN HTML5 VIDEO LAYER -->
                    <div class="tp-caption tp-resizeme tp-videolayer rs-parallaxlevel-0"

                         data-frames='[{"delay": 0, "speed": 500, "from": "opacity: 0", "to": "opacity: 1"}, {"delay": "wait", "speed": 500, "to": "opacity: 0"}]'

                         data-type="video"
                         data-videomp4="images/samples/intro.mp4"
                         data-videowidth="1280"
                         data-videoheight="720"
                         data-autoplay="on"
                         data-videocontrols="none"
                         data-nextslideatend="true"
                         data-forcerewind="off"
                         data-videoloop="none"
                         data-allowfullscreenvideo="true"
                         data-videopreload="auto"

                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="0"
                         data-basealign="slide">

                        <div>

                            <!-- BEGIN OVERLAY LAYER -->
                            <div class="layer-overlay tp-caption tp-resizeme rs-parallaxlevel-0"
                                 data-frames='[{"delay": 1000, "speed": 500, "from": "opacity: 0", "to": "opacity: 0.5"}]'
                                 data-x="center"
                                 data-y="center"
                                 data-hoffset="0"
                                 data-voffset="0"
                                 data-width="100%"
                                 data-height="1500">

                            </div>
                            <!-- // END OVERLAY LAYER -->

                            <!-- BEGIN GRID LAYER -->
                            <div class="layer-grid tp-caption tp-resizeme rs-parallaxlevel-10"
                                 data-frames='[{"delay": 1000, "speed": 2500, "from": "opacity: 0", "to": "opacity: 0.1"}]'
                                 data-x="center"
                                 data-y="center"
                                 data-hoffset="0"
                                 data-voffset="0"
                                 data-height="1500">

                                <div class="v-lines">
                                    <div class="v-wrap">
                                        <div class="v-column"></div>
                                        <div class="v-column"></div>
                                        <div class="v-column"></div>
                                        <div class="v-column"></div>
                                        <div class="v-column"></div>
                                    </div>
                                </div>

                            </div>
                            <!-- // END GRID LAYER -->

                            <!-- BEGIN LOGO LAYER -->
                            <div class="layer-logo tp-caption tp-resizeme rs-parallaxlevel-0"
                                 data-frames='[{"delay":1200,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                 data-type="image"
                                 data-x="center"
                                 data-y="top"
                                 data-hoffset="0"
                                 data-voffset="45"
                                 data-width="320"
                                 data-height="auto">
                                <img src="/images/sculptos-logo.png" alt="Sculptos Logo">
                            </div>
                            <!-- // END LOGO LAYER -->

                            <div class="layer-description tp-caption rs-parallaxlevel-10"
                                 data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"opacity:0.1;x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"opacity:1;x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                 data-type="text"
                                 data-x="center"
                                 data-y="top"
                                 data-hoffset="0"
                                 data-voffset="120">

                                WE ARE<br>
                                STRATEGISTS · ANALYTICS<br>
                                DEVELOPERS · CREATIVE MINDS<br>
                                CONNECTED TOGETHER TO BRING<br>
                                INNOVATIVE IDEAS TO LIFE<br>

                            </div>

                            <div class="tp-caption rs-parallaxlevel-4"
                                 data-frames='[{"delay": 3300, "speed": 500, "from": "opacity: 0", "to": "opacity: 1"}, {"delay": "wait", "speed": 500, "to": "opacity: 0"}]'
                                 data-type="text"
                                 data-x="center"
                                 data-y="top"
                                 data-hoffset="0"
                                 data-voffset="280">

                                <div class="scroll-line"></div>

                                <a class="r-slide-plain-text-light base-link">SKIP INTRO</a>
                            </div>

                </li>
                <!-- // END FIRST SCREEN SLIDER  -->

                <li class="layer-who-we-are" data-transition="fade" data-speed-out="2000">
                    <img src="images/samples/intro-bg.jpg" class="rev-slidebg">

                    <!-- BEGIN OVERLAY LAYER -->
                    <div class="layer-overlay tp-caption tp-resizeme"
                         data-frames='[{"delay": 0, "speed": 300, "from": "opacity: 0.5", "to": "opacity: 0.85"},{"delay":"wait","speed":500,"from": "opacity: 0.85", "to": "opacity: 0"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="0"
                         data-width="100%"
                         data-height="1500">
                    </div>
                    <!-- // END OVERLAY LAYER -->

                    <!-- BEGIN GRID LAYER -->
                    <div class="layer-grid tp-caption tp-resizeme rs-parallaxlevel-10"
                         data-frames='[{"delay": 0, "speed": 200, "from": "opacity: 0", "to": "opacity: 0.1"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="0"
                         data-height="1500">

                        <div class="v-lines">
                            <div class="v-wrap">
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                            </div>
                        </div>

                    </div>
                    <!-- // END GRID LAYER -->

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-10"
                         data-frames='[{"delay": 0, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"}, {"delay": "wait", "speed": 500, "to": "opacity: 0"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="-180">
                        <div class="layer-at-grid">
                            <div class="r-slide-header-back">
                                BORN TO<br/>
                                CREATE
                            </div>
                        </div>
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-10"
                         data-frames='[{"delay":200,"speed":600,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-x="left"
                         data-y="center"
                         data-hoffset="385"
                         data-voffset="-210">

                        <div class="r-slide-header-front">
                            SCULPTOS is independent creative agency<br/>
                            specializing in brand strategy.
                        </div>

                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-10"
                         data-frames='[{"delay":400,"speed":600,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-x="left"
                         data-y="center"
                         data-hoffset="385"
                         data-voffset="-90">

                        <div class="r-slide-plain-text-light">
                            We bring brands to life by sculpting innovative products,<br/>
                            sketching strategic direction while propelling creative<br/>
                            campaigns to actual sales.
                        </div>

                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-10"
                         data-frames='[{"delay":500,"speed":800,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-x="left"
                         data-y="center"
                         data-hoffset="385"
                         data-voffset="30">

                        <div class="r-slide-plain-text-light">
                            That carving methods helped startups, corporations and<br/>
                            numerous companies to impact globally and make our<br/>
                            lives better. Agency is located in San Diego, CA and<br/>
                            unites community of brand sculptors, creative artists<br/>
                            and developers.
                        </div>

                    </div>

                    <div class="tp-caption rs-parallaxlevel-0"
                         data-frames='[{"delay": 1000, "speed": 900, "from": "opacity: 0", "to": "opacity: 1"}, {"delay": "wait", "speed": 500, "to": "opacity: 0"}]'
                         data-type="text"
                         data-x="left"
                         data-y="top"
                         data-hoffset="413"
                         data-voffset="360">

                        <div class="scroll-line-short"></div>

                        <a class="r-slide-plain-text-light base-link">
                            WHAT WE ARE DO
                        </a>
                    </div>


                </li>

                <li class="layer-who-we-are" data-transition="slidevertical">

                    <img src="assets/images/transparent.png" class="rev-slidebg" style="background-color: #E7E7E7">

                    <!-- BEGIN GRID LAYER -->
                    <div class="layer-grid-dark tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-frames='[{"delay": 0, "speed": 200, "from": "opacity: 0", "to": "opacity: 0.1"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="0"
                         data-height="1500">

                        <div class="v-lines">
                            <div class="v-wrap">
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                            </div>
                        </div>

                    </div>
                    <!-- // END GRID LAYER -->

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-3"
                         data-frames='[{"delay": 700, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"}, {"delay": "wait", "speed": 1200, "to": "opacity: 0"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="-180">

                        <div class="layer-at-grid">
                            <div class="r-slide-header-back-dark">
                                WHAT WE<br/>
                                ARE DO
                            </div>
                        </div>

                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-frames='[{"delay":500,"speed":600,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-x="center"
                         data-y="bottom"
                         data-hoffset="0"
                         data-voffset="-40">

                        <div class="layer-at-grid">
                            <div class="gray-block">
                                <div class="layer-at-grid">

                                    <table width="100%">

                                        <tr>
                                            <td width="33%" valign="top">
                                                <span class="service-number">I</span>
                                                <h3 class="service-name">
                                                    Brand sculpting
                                                </h3>
                                                <div class="service-description">
                                                    We bring brands to life by carving  its’
                                                    strategy, direc-tion, vision and communica-tion
                                                    plans, & sculpt in beauti-ful form and image.
                                                </div>
                                                <div class="service-items">
                                                    <ul>
                                                        <li>Brand creation</li>
                                                        <li>Brand recreation</li>
                                                        <li>Brand positionning & communicatio</li>
                                                        <li>Brand essence</li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td width="33%" valign="top">
                                                <span class="service-number">II</span>
                                                <h3 class="service-name">
                                                    Product sculpting
                                                </h3>
                                                <div class="service-description">
                                                    We innovate, create, optimize risks, tell stories,
                                                    plan new invasions to coun-tries, markets and
                                                    retail. We design products that make lives better.
                                                </div>
                                                <div class="service-items">
                                                    <ul>
                                                        <li>New product innovation</li>
                                                        <li>New product line in existing brand family</li>
                                                        <li>Product planning on market invassion</li>
                                                        <li>Product communication</li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td width="33%" valign="top">
                                                <span class="service-number">III</span>
                                                <h3 class="service-name">
                                                    Experience sculpting
                                                </h3>
                                                <div class="service-description">
                                                    We attract consumers, make them feel the brand,
                                                    educate teams about branding and experiment with
                                                    new technolo-gies.
                                                </div>
                                                <div class="service-items">
                                                    <ul>
                                                        <li>Retail / spaice experience</li>
                                                        <li>Vertual reality experience</li>
                                                        <li>Degital presence</li>
                                                        <li>Workshops and brand labs</li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>

                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>


                </li>

                <li class="product-case" data-transition="fade">

                    <img    src="/images/samples/cases/belo-grandola-book.jpg"
                            alt="Belo Grandola brand"
                            class="rev-slidebg"
                            data-bgposition="center center"
                            data-bgfit="cover"
                            data-bgrepeat="no-repeat"

                            data-kenburns="on"
                            data-duration="18000"
                            data-ease="Linear.easeNone"
                            data-scalestart="100"
                            data-scaleend="120"
                            data-offsetstart="0 0"
                            data-offsetend="0 0"
                            data-rotatestart="0"
                            data-rotateend="0">

                    <!-- BEGIN GRID LAYER -->
                    <div class="layer-grid-dark tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-frames='[{"delay": 0, "speed": 200, "from": "opacity: 0", "to": "opacity: 0.1"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="0"
                         data-height="1500">

                        <div class="v-lines">
                            <div class="v-wrap">
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                            </div>
                        </div>

                    </div>
                    <!-- // END GRID LAYER -->

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-3"
                         data-frames='[{"delay": 700, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"}, {"delay": "wait", "speed": 1200, "to": "opacity: 0"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="-180">

                        <div class="layer-at-grid">
                            <div class="r-slide-header-back-dark-contrast">
                                OUR<br>
                                WORKS
                            </div>
                        </div>

                        <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                             data-frames='[{"delay":400,"speed":900,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             data-x="right"
                             data-y="top"
                             data-hoffset="1"
                             data-voffset="0"
                             data-width="580">

                            <div class="gray-product-form">

                                <div class="preview-info">
                                    <div class="product-category">
                                        Brand Sculpting / Product Sculpting
                                    </div>
                                    <h2>Belo Grandola</h2>
                                    <p>
                                        Flavors development, Brand Audit, Packaging,
                                        Identity and Guidelines, Brand Strategy,
                                        Communication Kick-Off Plan
                                    </p>
                                    <a class="toggle-detail-info">
                                        Detail about this case
                                    </a>

                                </div>

                                <div class="detail-info">
                                    <h3>Challenge</h3>
                                    <p>
                                        Belo Granola is young company specializing in production of seven different flavors of granola.
                                        By the way, very delicious! Market is very saturated and granola trend was decreasing for the
                                        last couple of years. BELO is struggling to create product that will stand up among competitors
                                        on grocery shelves, farmers markets and small boutiques and mainly will tell consumers about
                                        unique flavors and culture of the company and its eco-principles.
                                    </p>

                                    <h3>Result</h3>
                                    <p>
                                        SCULPTOS team developed unique concept of brand and overall strategy for later morning
                                        products line expansion. Now Belo Granola has a vision how to jumpstart through detailed
                                        Marketing plan.We also created eco and kids-friendly packaging and design for all seven flavors,
                                        required sales print and digital collateral.
                                    </p>

                                    <a class="toggle-detail-info">
                                        Back
                                    </a>
                                </div>

                            </div>

                        </div>

                    </div>

                </li>

                <li class="product-case" data-transition="fade">

                    <img    src="/images/samples/cases/cnl-studio.jpg"
                            alt="Cnl Tv Studio"
                            class="rev-slidebg"
                            data-bgposition="center center"
                            data-bgfit="cover"
                            data-bgrepeat="no-repeat"

                            data-kenburns="on"
                            data-duration="18000"
                            data-ease="Linear.easeNone"
                            data-scalestart="100"
                            data-scaleend="120"
                            data-offsetstart="0 0"
                            data-offsetend="0 0"
                            data-rotatestart="0"
                            data-rotateend="0">

                    <!-- BEGIN GRID LAYER -->
                    <div class="layer-grid tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-frames='[{"delay": 0, "speed": 200, "from": "opacity: 0", "to": "opacity: 0.1"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="0"
                         data-height="1500">

                        <div class="v-lines">
                            <div class="v-wrap">
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                            </div>
                        </div>

                    </div>
                    <!-- // END GRID LAYER -->

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-3"
                         data-frames='[{"delay": 700, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"}, {"delay": "wait", "speed": 1200, "to": "opacity: 0"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="-180">

                        <div class="layer-at-grid">
                            <div class="r-slide-header-back-contrast">
                                OUR<br>
                                WORKS
                            </div>
                        </div>

                        <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                             data-frames='[{"delay":400,"speed":900,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             data-x="right"
                             data-y="top"
                             data-hoffset="1"
                             data-voffset="0"
                             data-width="580">

                            <div class="gray-product-form">

                                <div class="preview-info">
                                    <div class="product-category">
                                        Brand Experience
                                    </div>
                                    <h2>CNL TV Channel</h2>
                                    <p>
                                        Bringing TV Studios to life,
                                        conducting daily live broadcasts
                                    </p>
                                    <a class="toggle-detail-info">
                                        Detail about this case
                                    </a>

                                </div>

                                <div class="detail-info">
                                    <h3>Challenge</h3>
                                    <p>
                                        CNL TV Channel is Russian Christian broadcasting network with media coverage across 150
                                        countries. The team is expanding and building new offices and TV studios globally.
                                    </p>

                                    <h3>Result</h3>
                                    <p>
                                        Throughout several years of friendship and constant technical assistance together we built two
                                        independent studios in Seattle and San Diego. Happily we were executing construction
                                        planning, and mainly technical planning and procurement, installations and remodeling for the
                                        last 4 years. Our production director makes daily live broadcasts in SD location featuring
                                        pastor’s preaching through TV channel and internet. Studios serve as a place for local and
                                        invited guests, evangelists and Christian personas.
                                    </p>

                                    <a class="toggle-detail-info">
                                        Back
                                    </a>
                                </div>

                            </div>

                        </div>

                    </div>

                </li>

                <li class="product-case" data-transition="fade">

                    <img
                            src="/images/samples/cases/sacramento-studio-2.jpg"
                            alt="Cnl Tv Studio"
                            class="rev-slidebg"
                            data-bgposition="center center"
                            data-bgfit="cover"
                            data-bgrepeat="no-repeat"

                            data-kenburns="on"
                            data-duration="18000"
                            data-ease="Linear.easeNone"
                            data-scalestart="100"
                            data-scaleend="120"
                            data-offsetstart="0 0"
                            data-offsetend="0 0"
                            data-rotatestart="0"
                            data-rotateend="0">

                    <!-- BEGIN GRID LAYER -->
                    <div class="layer-grid tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-frames='[{"delay": 0, "speed": 200, "from": "opacity: 0", "to": "opacity: 0.1"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="0"
                         data-height="1500">

                        <div class="v-lines">
                            <div class="v-wrap">
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                            </div>
                        </div>

                    </div>
                    <!-- // END GRID LAYER -->

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-3"
                         data-frames='[{"delay": 700, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"}, {"delay": "wait", "speed": 1200, "to": "opacity: 0"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="-180">

                        <div class="layer-at-grid">
                            <div class="r-slide-header-back-contrast">
                                OUR<br>
                                WORKS
                            </div>
                        </div>

                        <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                             data-frames='[{"delay":400,"speed":900,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             data-x="right"
                             data-y="top"
                             data-hoffset="1"
                             data-voffset="0"
                             data-width="580">

                            <div class="gray-product-form">

                                <div class="preview-info">
                                    <div class="product-category">
                                        Brand Experience
                                    </div>
                                    <h2>CNL TV Channel</h2>
                                    <p>
                                        Bringing TV Studios to life,
                                        conducting daily live broadcasts
                                    </p>
                                    <a class="toggle-detail-info">
                                        Detail about this case
                                    </a>

                                </div>

                                <div class="detail-info">
                                    <h3>Challenge</h3>
                                    <p>
                                        CNL TV Channel is Russian Christian broadcasting network with media coverage across 150
                                        countries. The team is expanding and building new offices and TV studios globally.
                                    </p>

                                    <h3>Result</h3>
                                    <p>
                                        Throughout several years of friendship and constant technical assistance together we built two
                                        independent studios in Seattle and San Diego. Happily we were executing construction
                                        planning, and mainly technical planning and procurement, installations and remodeling for the
                                        last 4 years. Our production director makes daily live broadcasts in SD location featuring
                                        pastor’s preaching through TV channel and internet. Studios serve as a place for local and
                                        invited guests, evangelists and Christian personas.
                                    </p>

                                    <a class="toggle-detail-info">
                                        Back
                                    </a>
                                </div>

                            </div>

                        </div>

                    </div>

                </li>

                <li class="layer-who-we-are" data-transition="slidevertical">

                    <img src="assets/images/transparent.png" class="rev-slidebg" style="background-color: #E7E7E7">

                    <!-- BEGIN GRID LAYER -->
                    <div class="layer-grid-dark tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-frames='[{"delay": 0, "speed": 200, "from": "opacity: 0", "to": "opacity: 0.1"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="0"
                         data-height="1500">

                        <div class="v-lines">
                            <div class="v-wrap">
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                                <div class="v-column"></div>
                            </div>
                        </div>

                    </div>
                    <!-- // END GRID LAYER -->

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-3"
                         data-frames='[{"delay": 600, "speed": 600, "from": "opacity: 0", "to": "opacity: 1"}, {"delay": "wait", "speed": 200, "to": "opacity: 0"}]'
                         data-x="center"
                         data-y="center"
                         data-hoffset="0"
                         data-voffset="-180">

                        <div class="layer-at-grid">
                            <div class="r-slide-header-back-dark">
                                LET'S WORK<br/>
                                TOGETHER!
                            </div>
                        </div>

                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0 follow-us"
                         data-frames='[{"delay":600,"speed":900,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-x="center"
                         data-y="bottom"
                         data-hoffset="0"
                         data-voffset="100">

                        <div class="layer-at-grid">
                            <h3>FOLLOW US IN SOCIALS:</h3>
                            <div class="socials">
                                <span class="ion-social-instagram-outline">
                                </span>

                                <span class="ion-social-linkedin-outline">
                                </span>

                                <span class="ion-social-facebook">
                                </span>
                            </div>

                            <br><br>

                            <div class="copyrights">
                                COPYRIGHT 2017. SCULPTOS AND CARVING BRANDS<br>
                                FOR BETTER FUTURE ARE REGISTERED TRADEMARKS.<br>
                                <br>
                                ANY INFRINGEMENT ON BOTH TRADEMARKS MAY<br>
                                RESULT IN LEGAL PUNISHMENT.<br>
                            </div>
                        </div>

                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-frames='[{"delay":600,"speed":900,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-x="right"
                         data-y="top"
                         data-hoffset="1"
                         data-voffset="0">

                        <div class="gray-block-form">

                            <p>
                                <strong>Contact us:</strong><br/>
                                hello@sculptos.com<br/>
                                +1 (888) 885-7535<br/>
                                <br>
                                <strong>Meet us:</strong><br/>
                                5205 Avenida Encinas Suite A,<br>
                                Carlsbad, CA 92008

                                <br/>
                                <span class="dots"> ·   ·   ·  </span>
                                <br/>

                                You can send us your <i>email</i> or telephone number<br/>
                                and we'll contact to you in a short time!
                            </p>

                            <input type="text" placeholder="Your email or phone number">

                            <br/>

                            <button type="button">Apply</button>

                        </div>

                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-frames='[{"delay":0,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-x="center"
                         data-y="bottom"
                         data-hoffset="0"
                         data-voffset="-100"
                         data-width="100%">

                        <div class="footer">
                            <div class="layer-at-grid">
                                <img src="/images/sculptos-logo.png" class="logo" alt="Sculptos logo">
                            </div>
                        </div>

                    </div>


                </li>


            </ul>
            <!-- // END FIRST SCREEN SLIDER  -->

        </div>

    </div>

{% endblock %}