{# fedault.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="../styles/main.css">
</head>
<body>
	<div class="wrapper">
		{% include ('../parts/_header.twig') %}
		<div class="page-content">
			{% block content %}{% endblock %}
		</div>
		{% include ('../parts/_footer.twig') %}
	</div>
</body>
</html>