<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	{% include '../parts/_header.twig' %}
	{% block content %}{% endblock %}
	{% include '../parts/_footer.twig' %}
</body>
</html>