@import '../_global.scss';

h1 {
	font-size: $title-font-size;
	line-height: 5rem;
	padding: $padding-indent-largest 0;
	margin: 0 0 $margin-indent-largest;
}

h2 {
	font-size: $large-font-size;
	margin: $margin-indent-large 0;
}

h3 {
	font-size: $medium-font-size;
	margin: $margin-indent-normal 0;
}

h4 {
	font-size: $base-font-size;
	margin: $margin-indent-mini 0;
}

h5 {
	font-size: $small-font-size;
	margin: $margin-indent-micro 0;
}