// Media breakpoints

$small-screen-up: 601px;
$medium-screen-up: 993px;
$large-screen-up: 1201px;
$small-screen: 600px;
$medium-screen: 992px;
$large-screen: 1200px;

// Golden ratio

$fi: 1.618;
$base-font-size: 16px;
$small-font-size: $base-font-size / $fi;
$medium-font-size: $base-font-size * $fi;
$large-font-size: $base-font-size * ($fi * $fi);
$title-font-size: $base-font-size * ($fi * $fi * $fi);

$border-ultra-thin: 1px / $fi;
$border-thin: 1px;
$border-regular: 1px * $fi;
$border-medium: 1px * ($fi * $fi);
$border-semi-bold: 1px * ($fi * $fi * $fi);
$border-bold: 1px * ($fi * $fi * $fi * $fi);
$border-dark: 1px * ($fi * $fi * $fi * $fi * $fi);

$padding-indent-micro: 1rem / ($fi * $fi);
$padding-indent-mini: 1rem / $fi;
$padding-indent-normal: 1rem;
$padding-indent-large: 1rem * $fi;
$padding-indent-largest: 1rem * ($fi * $fi);

$margin-indent-micro: 1rem - $padding-indent-micro;
$margin-indent-mini: 2rem - $padding-indent-mini;
$margin-indent-normal: 3rem - $padding-indent-normal;
$margin-indent-large: 4rem - $padding-indent-large;
$margin-indent-largest: 6rem - $padding-indent-largest;

// Цвет рамки страницы	

$page-wrapper-border-color: #ccc !global;
$page-content-border-color: #000 !global;

// Фоны блоков

$page-wrapper-background: #fff !global;
$page-content-background: #fff !global;

// Цвета навбара

$navbar-background: blue !global;

// Границы

$page-wrapper-border: none;
$page-content-border: 1px solid #{$page-content-border-color};

// Ширина враппера и контент
$page-wrapper-width: 100%;
$page-content-width: 1280px;
$page-content-width-min: 960px;

// Отступы контента

$page-section-padding: 10px 25px;
$page-section-margin: 0;
$page-content-padding: 25px 0;
$page-content-margin: 0;

// Ширина и отступы контейнера

$container-width: 100%;
$container-max-width: 1280px;
$container-padding: 0 25px;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})";
$large-and-up: "only screen and (min-width : #{$medium-screen-up})";
$small-and-down: "only screen and (max-width : #{$small-screen})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})";