// Цвет рамки страницы

$page-wrapper-border-color: #ccc;
$page-content-border-color: #ccc;

// Границы

$page-wrapper-border: 1px solid #{$page-wrapper-border-color};
$page-content-border: 1px solid #{$page-content-border-color};

// Фоны блоков

$page-wrapper-background: #fff;
$page-content-background: #c1c1c1;

// Ширина враппера и контента

$page-wrapper-width-min: 100%;
$page-content-width-min: 960px;

// Отступы контента

$page-section-padding: 10px;
$page-section-margin: 0;
$page-content-padding: 0;
$page-content-margin: 0;